@import "../../../styles/config/variables";

.root {
  .action {
    flex: 1;
  }

  .detail {
    flex: 1;
    color: $color-secondary;
  }

  .secondary {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
