@import "variables";

* {
  -webkit-font-smoothing: antialiased;
}

html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;

  ::selection {
    background: $color-primary;
    color: $color-white;
    text-shadow: none;
  }
}

body {
  min-height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}

button {
  background: none;
  border-radius: 0;
  border: none;
  color: inherit;
  cursor: pointer;
  display: inline;
  font: inherit;
  outline: 0;
  padding: 0;

  &:active,
  &:focus,
  &:hover {
    outline: 0;
  }
}

input,
select,
textarea {
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-appearance: none;
  background-clip: padding-box;
  border-radius: 0;
  border-width: 0;
  box-sizing: border-box;
  font-size: 1rem;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 0;
  text-align: left;
  vertical-align: middle;
}
