{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "components": "./src/components",
          "constants": "./src/constants",
          "fonts": "./src/fonts",
          "store": "./src/store",
          "styles": "./src/styles",
          "util": "./src/util"
        }
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": ["react-refresh/babel"]
    },
    "production": {
      "plugins": ["lodash"]
    }
  }
}
