{
  "presets": [
    "babel-preset-joey"
  ],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "components": "./src/components",
        "constants": "./src/constants",
        "fonts": "./src/fonts",
        "store": "./src/store",
        "styles": "./src/styles",
        "util": "./src/util"
      }
    }]
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "plugins": [
        "lodash",
        "transform-react-pure-class-to-function"
      ]
    }
  }
}
