{
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "jest",
    "react"
  ],
  "rules": {
    "comma-dangle": 0,
    "import/prefer-default-export": [ 0 ],
    "jsx-a11y/click-events-have-key-events": [ 0 ],
    "jsx-a11y/label-has-for": [ 0 ],
    "jsx-a11y/no-static-element-interactions": [ 0 ],
    "no-shadow": 0,
    "prettier/prettier": 1,
    "quotes": [ "error", "single" ],
    "radix": 0,
    "react/forbid-prop-types": [2, { "forbid": [ "any" ] }],
    "react/jsx-filename-extension": [ 0 ],
    "react/jsx-indent": 0,
    "react/jsx-indent-props": 0,
    "react/jsx-one-expression-per-line": [ 0 ],
    "react/no-unused-prop-types": 1,
    "semi": [ "error", "always" ]
  },
  "settings": {
    "import/resolver": {
      "babel-module": {
        "alias": {
          "components": "./src/components",
          "constants": "./src/constants",
          "fonts": "./src/fonts",
          "store": "./src/store",
          "styles": "./src/styles",
          "util": "./src/util"
        }
      }
    }
  }
}
