{
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:react/recommended"
  ],
  "parser": "@babel/eslint-parser",
  "plugins": ["jest", "react", "react-hooks"],
  "rules": {
    "comma-dangle": 0,
    "consistent-return": 0,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.test.js",
          "./test-setup.js",
          "./webpack.config.babel.js",
          "./webpack/**/*.js"
        ]
      }
    ],
    "import/no-import-module-exports": [0],
    "import/prefer-default-export": [0],
    "prettier/prettier": 1,
    "quotes": ["error", "single"],
    "radix": 0,
    "react/forbid-prop-types": [2, { "forbid": ["any"] }],
    "react/function-component-definition": [
      2,
      { "namedComponents": "function-declaration" }
    ],
    "react/jsx-filename-extension": [0],
    "react/jsx-fragments": [2, "element"],
    "react/jsx-indent": 0,
    "react/jsx-indent-props": 0,
    "react/jsx-one-expression-per-line": [0],
    "react/no-unused-prop-types": 1,
    "react/static-property-placement": [2, "static public field"],
    "semi": ["error", "always"]
  },
  "settings": {
    "import/resolver": {
      "babel-module": {
        "alias": {
          "components": "./src/components",
          "constants": "./src/constants",
          "fonts": "./src/fonts",
          "store": "./src/store",
          "styles": "./src/styles",
          "util": "./src/util"
        }
      }
    }
  }
}
