{
  "extends": "stylelint-config-standard",
  "rules": {
    "indentation": 2,
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": ["content", "each", "else", "extend", "for", "function", "if", "include", "mixin", "return"]
    }],
    "selector-pseudo-class-no-unknown": [true, {
      "ignorePseudoClasses": ["global"]
    }]
  }
}
