@import '../../styles/config/variables';
@import '../../styles/mixins/transition';

.root {
    @include transition(#{'background, transform'});

    background: $color-primary;
    border-radius: $border-radius;
    box-sizing: border-box;
    color: $color-white;
    display: block;
    font-weight: $font-weight-bold;
    margin-bottom: $spacer / 2;
    padding: $spacer / 2;
    text-transform: uppercase;
    width: 100%;

    &:active {
        transform: scale(0.9);
    }

    &:hover {
        background: $color-primary-dark;
        color: $color-white;
    }
}
