/* stylelint-disable no-invalid-position-at-import-rule */
// fonts
@import "fonts/index";

:global {
  // config
  @import "config/reset";

  // html elements
  @import "elements/anchor";
  @import "elements/body";
  @import "elements/button";
  @import "elements/code";
  @import "elements/headings";
  @import "elements/horizontal-rule";
  @import "elements/input";
  @import "elements/label";
  @import "elements/ordered-list";
  @import "elements/paragraph";
  @import "elements/pre";
  @import "elements/section";
  @import "elements/select";
  @import "elements/table";
  @import "elements/textarea";
  @import "elements/unordered-list";

  // utilities
  @import "util/animated";
}
