$src: $font-path + 'proxima-nova/';
$font-family: 'Proxima Nova';

@font-face {
    font-family: $font-family;
    src: url($src + 'proxima-nova--regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $font-family;
    src: url($src + 'proxima-nova--regular-italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: $font-family;
    src: url($src + 'proxima-nova--bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: $font-family;
    src: url($src + 'proxima-nova--bold-italic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: $font-family;
    src: url($src + 'proxima-nova--semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: $font-family;
    src: url($src + 'proxima-nova--semibold-italic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: $font-family;
    src: url($src + 'proxima-nova--light.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: $font-family;
    src: url($src + 'proxima-nova--light-italic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: $font-family;
    src: url($src + 'proxima-nova--black.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}
