@import '../config/variables';
@import '../mixins/transition';

button {
    @include transition(color);

    color: $color-primary;
    font-weight: $font-weight-base;

    &:hover {
        color: $color-primary-dark;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: inherit;
    }
}
