@import "../../styles/config/variables";

.root {
  border-right: $border-width solid $color-border;
  display: inline-block;
  padding: $spacer;
  text-decoration: none;
  text-transform: uppercase;
}
